<main>
  <div class="container">

    <div class="row mt-2 mt-lg-4">
      <%= render 'public/users/menu'%>

      <div class="col-10 col-lg-9">
        <div>
          <h4 class="text-info d-flex align-items-center">
            <%= image_tag "clip_icon_lg.png", class:"mt-3 pr-2" %>
            投稿したお知らせ
          </h4>
        </div>
        <%= render 'public/flyers/index', flyers: @flyers %>
      </div>

    </div>
  </div>
</main>